.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  transition: all 0.3s ease-in-out;
  height: 50px;
  
}
.active { color: #002043;}
.desaible { opacity: 0.5; }

.withIcon {
  width: 20px;
  height: 20px;
  background: url(../public/plus-icon.svg) no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 0.3rem;
}
.withoutIcon {
  display: none;
}
.storybook-button--primary {
  color: white;
  background-color: #E22944;
}
.storybook-button--primary:hover {
  background-color: #B02035;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 0.8rem 1rem;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
